
p{
  text-align: center;
  font-weight: 500;
  color: #c16509;
  text-decoration: inherit;
}
p:hover {
  color: #be7318;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #e0cbb7;
}

h1 {
  font-size: 3.2em;
  
  color: #f76911;
  text-align: center;
}
.boton{
  justify-content: center;
  display: block;
  width: 300px;

}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 20px;
  margin: 30px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f76911;
  cursor: pointer;
  transition: border-color 0.25s;
 
}
button:hover {
  border-color: #ec8685;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.contenedor{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  
}
input{
  margin: 20px;
  padding: 10px;
  outline: none;
  border: 2px solid #bc5506;
  line-height: 1px;
  border-radius: 8px;
}
input:focus{
  border-color: #cfb895;
  outline: none;

}
input:hover{
  border-color: #cfb895;
  outline: none;
}
input::placeholder{
  color: #eaab97;
}